<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Web Serial</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.10/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"/>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/makeabilitylab/p5js/_libraries/serial.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <div id="app">
            <h1>Arduino Fan Controller</h1>
            <p class="mx-4 mt-2">Fan speed controller via Serial connection to Arduino, <br> 
                utilizes IR communication through an Arduino Uno.
            </p><br>
            <v-btn class="ma-4"  @click="onConnect()" >
                <v-icon start icon="mdi-access-point"></v-icon>
                Connect via Serial
            </v-btn><br>
            <v-btn class="ma-4" @click="powerSwitch()">
                <v-icon start icon="mdi-power-standby"></v-icon>
                Toggle Power
            </v-btn>
            <v-card class="ma-4" style="width: 250px;" text="Select fan speed:">
                <v-radio-group v-model="fanSpeed" :disabled="!power">
                    <v-radio label="Eco" :value="2"></v-radio>
                    <v-radio label="Low" :value="3"></v-radio>
                    <v-radio label="Medium" :value="4"></v-radio>
                    <v-radio label="High" :value="5"></v-radio>
                </v-radio-group>
            </v-card>
            <v-switch class="ma-4" v-model="rotate" :disabled="!power">
                <template v-slot:label>
                    <v-icon start icon="mdi-restore"></v-icon>
                    Enable Rotation
                  </template>
            </v-switch>
        </div>
    <script>
        const { createApp, ref, watch } = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        createApp({
        setup() {
            const power = ref(false);
            const rotate = ref(false);
            const fanSpeed = ref(2);

            const serial = new Serial();
            serial.on(SerialEvents.CONNECTION_OPENED, onSerialConnectionOpened);
            serial.on(SerialEvents.CONNECTION_CLOSED, onSerialConnectionClosed);
            serial.on(SerialEvents.DATA_RECEIVED, onSerialDataReceived);
            serial.on(SerialEvents.ERROR_OCCURRED, onSerialErrorOccurred);

            watch(fanSpeed, (speed)=>{
                onFanSpeedChange(speed);
            },
            { deep: true }
            );

            watch(rotate, (r)=>{
                onFanSpeedChange(fanSpeed.value);
            },
            { deep: true }
            );

            function powerSwitch(){
                power.value=!power.value;
                if(serial.serialWriter){
                    power.value?powerOn():powerOff();
                }
                else if(!serial.serialWriter){
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please initialize serial connection first',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                    power.value=!power.value;
                }
            };

            async function onConnect(){
                console.log('connect button clicked!');

                if (navigator.serial) {
                    if (!serial.isOpen()) {
                    await serial.connectAndOpen();
                    } else {
                    console.log("The serial connection appears already open");
                    }
                } 
                else {
                    Swal.fire({
                        title: 'Error!',
                        text: 'The Web Serial API does not appear supported on this web browser. Are you using a supported browser (ie. Chrome/Edge)?',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            };
            async function powerOn(){
                let returnValue = 1;
                console.log("Sending Power-on signal over serial: ", returnValue.toString());
                serial.writeLine(returnValue.toString());
            };
            async function powerOff(){
                let returnValue= 0 ;
                console.log("Sending Power-off signal over serial: ", returnValue.toString());
                serial.writeLine(returnValue.toString());
            };
            async function onFanSpeedChange(fanSpeed) {
                let  returnValue = rotate.value ? (parseInt(fanSpeed) + 4) : fanSpeed; //offsets to access roation commands
                console.log("Writing to serial: ", returnValue.toString());
                serial.writeLine(returnValue);
            }

            function onSerialErrorOccurred(eventSender, error) {
                console.log("onSerialErrorOccurred", error);
            }

            function onSerialConnectionOpened(eventSender) {
                console.log("onSerialConnectionOpened", eventSender);
            }

            function onSerialConnectionClosed(eventSender) {
                console.log("onSerialConnectionClosed", eventSender);
            }

            function onSerialDataReceived(eventSender, newData) {
                console.log("onSerialDataReceived", newData);
            }

            return {
            rotate,
            fanSpeed,
            power,
            onConnect,
            onFanSpeedChange,
            onSerialErrorOccurred,
            onSerialConnectionOpened,
            onSerialConnectionClosed,
            onSerialDataReceived,
            powerOn,
            powerOff,
            powerSwitch,
            }
        }
        }).use(vuetify).mount('#app')

    </script>
</body>
</html>